*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(244, 244, 244, 0.75), rgba(236, 72, 72, 0.774));
    background-size: cover;
    background-position: center;
}
.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo {
    width: 120px;
    cursor: pointer;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.content {
    width: 100%;
    position: auto;
    top: 45%;
    transform: translateY(-60%);
    text-align: left;
    color: rgb(77, 65, 65);
}
.content h1{
    align-items: center;
    font-size: 200px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    left: 10%;
    top: 100px;
    color: #1e0e0e23;
}
.content p1{
    position: absolute;
    left: 400px;
    top: 100%;
    font-weight: 600;
    line-height: 30px;
}
.content p2{
    position: absolute;
    left: 550px;
    top: 300%;
    font-weight: 600;
    line-height: 30px;
}